.max-width-fit-content {
    max-width: fit-content;
}

.bi {
    vertical-align: -.125em;
}

.project-details {
    width: 500px;
}

.img {
    height: 300px !important;
    background-color: var(--bs-gray-500);
}

.padding-top {
    padding-top: 75px;
}
